<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add tv_show</title>
</head>
<body>
<form action="/add-tv_show/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Database</button>
</form>
</body>
</html>